/* Style the tab */
#tab {
    overflow: hidden;
    border:  none;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
#tab a {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#tab a.active {
    background-color: #ccc;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
   /* border: 1px solid #ccc;*/
    border-top: none;
    overflow-y: scroll;

}

#tableau{
    border-top:solid #D7D1D1 0.5px;
    border-bottom :solid #D7D1D1 0.5px;

    overflow-y: scroll;

}